# Python
__pycache__/
*.pyc
.venv/
venv/

# Generated simulation outputs
data/*.csv
plots/*.png
plots/*.jpg
plots/*.pdf
plots/*.html
plots/*.mp4

# Keep folder structure
!data/.gitkeep
!plots/.gitkeep